body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;

}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6, p, a {
    font-size: 1rem;
}

.font-thin {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-underiline {
    text-decoration: underline;
}

.text-no-underline {
    text-decoration: none;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.centerX {
    left: 50%;
    transform: translateX(-50%);
}

.centerY {
    top: 50%;
    transform: translateY(-50%);
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-img {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: visibility .5s ease-in-out, opacity .6s ease-in-out;
    -moz-transition: visibility .5s ease-in-out, opacity .6s ease-in-out;
    -ms-transition: visibility .5s ease-in-out, opacity .6s ease-in-out;
    -o-transition: visibility .5s ease-in-out, opacity .6s ease-in-out;
    transition: visibility .5s ease-in-out, opacity .6s ease-in-out;
}

.pr-button {
    padding: 8px 14px 5px 14px;

    font-size: 24px;
    line-height: 43px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
    position: relative;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    color: #ffff;
    background: #779222;
    cursor: pointer;

}

.pr-button::before, .pr-button::after {
    content: "";
    border: 2px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
}

.pr-button::before {
    content: "";
    top: 0;
    left: 0;
}

.pr-button::after {
    content: "";
    bottom: 0;
    right: 0;
}

.pr-button:hover::before, .pr-button:hover::after {
    content: "";
    width: 100%;
    height: 100%;
}

.pr-button:hover::before {
    content: "";
    border-top-color: #fff;
    border-right-color: #fff;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.pr-button:hover::after {
    content: "";
    border-bottom-color: #fff;
    border-left-color: #fff;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.clr-white {
    color: #ffffff;
}

.padding-btm {
    padding-bottom: 40px;
}

/*HEADER*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.site-logo {
    height: 70px;
    padding: 5px 0;
}

section {
    padding-top: 71px;
}

.banner-section {
    background-image: linear-gradient(310deg, #0F4C81 100%, #09254F 100%);
}

.banner-section .banner {
    background-image: url("./assets/bg-img.jpg");
    opacity: 0.1;
}

.banner-section .banner.large-height {
    min-height: 110vh;
}

.banner-section .banner.medium-height {
    min-height: 950px;
}

.banner-section .banner-shape {
    left: 0;
    height: 293px;
    width: 100%;
    line-height: 0;
    direction: ltr;
    overflow: hidden;
}

.banner-section .banner-shape.bottom {
    bottom: -1px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.banner-section .banner-shape.top {
    top: -1px;
}

.banner-shape svg {
    display: block;
    width: calc(100% + 1px);
    transform: translateX(-50%) rotateY(180deg);
}

.banner-shape .shape-fill {
    fill: #f4f6f7;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.overview {
    top: 111px;
    width: 100%;
    right: 0;
}

.overview ul {
    padding: 0;
    list-style: none;
    font-size: inherit;
    display: inline-block;
}

.overview ul li h2,
.overview ul li p {
    padding-left: 12%;
}

.overview ul li h2:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3%;
    bottom: 0;
    height: 2px;
    background: #fff;
    margin-right: -5%;
    overflow: hidden;
    width: 20px;
}

form.register {
    width: 70%;
}

.register input[type='email'] {
    border: 0;
    width: 100%;
    height: 40px;
    color: #0F4C81;
    margin-bottom: 20px;
    padding: 8px;
}

.register .pr-button {
    width: auto;
}

.error {
    padding-top: 20px;
}

.paperplane {
    left: 22%;
    top: -35px;
    width: 277px;
    height: 293px;
    background-image: url("./assets/paperplane-clouds.svg");
}

.why-choose-us {
    background-color: #f4f6f7;
}

.why-choose-us .email {
    background-image: url("./assets/Email.svg");
}

.why-choose-us .customer {
    background-image: url("./assets/Customer.svg");
}

.why-choose-us .roi {
    background-image: url("./assets/ROI.svg");
}

.why-choose-us .roi,
.why-choose-us .email,
.why-choose-us .customer {
    min-height: 100px;
    background-size: auto;
    filter: brightness(0) saturate(100%) invert(20%) sepia(89%) saturate(958%) hue-rotate(180deg) brightness(98%) contrast(96%);
}

.features .container {
    top: 10px;
}

.lines {
    background: url(/assets/rocket-line.svg) repeat-y;
    background-size: 100%;
    bottom: -5px;
    right: 5%;
    top: 0;
    width: 1px;
    z-index: 1;
}

.rocket-svg {
    position: absolute;
    right: 11%;
    top: 900px;
    width: 37px;
    margin-right: -18px;
    height: 89px;
    background-image: url(/assets/rocket.svg);
    transition: transform .8s linear;

}

footer {
    padding: 20px 0;
}

footer p {
    margin-bottom: 0;
}

.social-icons a {
    font-size: 20px;
    height: 30px;
    width: 33px;
    display: inline-block;
    background-color: #0F4C81;
    text-align: center;
}

.social-icons a:first-child {
    margin-right: 5px;
}

.linkedin,
.facebook {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffff;
}

.facebook:before {
    content: "\f09a";
}

.linkedin:before {
    content: "\f0e1";
}

.upload form p,
.upload form label {
    margin: 0;
}

.upload form p:not('.error p') {
    line-height: 0;
}

.upload form input[type='file'] {
    margin-bottom: 20px;
    margin-top: 40px;
}

.upload form input[type='checkbox'] {
    margin-right: 5px;
}

.upload form .form-group {
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding: 10px;
}

.upload .contact .form-group {
    padding: 0
}

.upload .contact .form-group input {
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
}

.upload .contact .form-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.upload .contact .form-group input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.upload .contact .form-group input ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

.upload .contact .form-group textarea {
    height: 140px;
    border: 0;
    outline: none;
}

.upload .error {
    padding-top: 0;
}
.upload .overview .col-md-6{
    padding-bottom: 15px;
}
.progress-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.8);
    left: 0;
    right: 0;
    z-index: 99999;
}
.progress-overlay h4{
    padding-top: 100px;
}
.progress {
    background-color: rgba(255,255,255,0.6);
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6);
    position: absolute;
    top: 50%;
    height: 20px;
    margin: 0 20px;
    left: 0;
    right: 0;
    z-index: 999999;
}

.progress>div {
    display: block;
    height: 20px;
    background-color: #659cef;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
    position:absolute;
    top: 0;
    left: 0;
}

.buttons-container{
    bottom: 0;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
@media screen and (min-width: 768px) {

    .overview ul {
        white-space: nowrap;
        margin: 0 auto;
        width: 400px;
    }

    .overview ul li h2,
    .overview ul li p {
        padding-left: 6%;
    }

    .overview ul li h2:before {
        content: "";
        left: 0;
    }

    .banner-section .banner.medium-height {
        min-height: 650px;
    }

    .banner-section .banner.large-height {
        min-height: 900px;
    }

    .features .container {
        top: 100px;
    }

}

@media screen and (min-width: 992px) {
    .pr-button {
        width: 196px;
        height: 61px;
    }

    .features .container {
        top: 150px;
    }
}

@media screen and (min-width: 2560px) {
    .features .container {
        top: 200px;
    }
}

